html {
    scroll-behavior: smooth;
    background-color: black;
    font-size: 1.2em;
}

#content {
    margin: 0 1rem 1rem;
}

.scroll-container {
    padding-top: 1rem;
}

/* Webkit scrollbar hiding */

::-webkit-scrollbar {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.3);
}
