<!doctype html>
<html>
<head>
  <title>RSS Feed Ticker</title>
  <link rel="stylesheet" href="/static/css/bulma.css?{{ rand_val }}">
  <link rel="stylesheet" href="/static/css/bulma-pageloader.css?{{ rand_val }}">
  <link rel="stylesheet" href="/static/css/style.css?{{ rand_val }}">
  <link rel="stylesheet" href="/static/css/custom.css?{{ rand_val }}">

  <script defer src="/static/js/ticker.js?{{ rand_val }}" type="text/javascript"></script>
</head>
<body>
  <div class="pageloader is-active" id="loader">
    <span class="title is-dark">Loading...</span>
  </div>

  <div id="content">

  </div>
</body>
</html>
